<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arandastock001.EzLinearRegression">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EzLinearRegression"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.arandastock001.EzLinearRegression.VerGrafico"></activity>
        <activity android:name="com.arandastock001.EzLinearRegression.MenuOpciones" />
        <activity android:name="com.arandastock001.EzLinearRegression.IngresoManual" />
        <activity android:name="com.arandastock001.EzLinearRegression.VerHistorial" />
        <activity android:name="com.arandastock001.EzLinearRegression.PasoAPaso" />
        <activity android:name="com.arandastock001.EzLinearRegression.AcercaDe" />
        <activity android:name="com.arandastock001.EzLinearRegression.CapturaActivity" />
        <activity android:name="com.arandastock001.EzLinearRegression.CreacionDeArchivo" />
        <activity android:name="com.arandastock001.EzLinearRegression.ResumenDeResultados" />
        <activity android:name="com.arandastock001.EzLinearRegression.MenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>